@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&display=swap');

.font-dancingScript{
    font-family: 'Dancing Script', cursive;
}

.font-cinzel{
    font-family: 'Cinzel', serif;
}

@keyframes cardEntrance {
    0% {
        opacity: 0;
        transform: translateY(30px) rotate(-2deg);
    }

    100% {
        opacity: 1;
        transform: translateY(0) rotate(0);
    }
}

::-webkit-scrollbar {
    width: 8px;
    background: #2a1e14;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #d97706, #b45309);
    border-radius: 4px;
}

.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    }